<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nyssa Package Manager</title>
  <link rel="stylesheet" href="static/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
  <link rel="manifest" href="static/site.webmanifest">
</head>
<body class="has-head-color no-foot-color">
  <include path="inc/header.html" />

  <section class="container">
    <div class="columns is-justify-content-center">
      <div class="column is-one-quarter">Sidebar</div>
      <div class="column is-three-quarter">My Account</div>
    </div>
  </section>

  <include path="inc/footer.html" />
</body>
</html>