<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>{name} - Nyssa Package Manager</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
  <link rel="manifest" href="../static/site-2.webmanifest">
</head>
<body class="">
  <include path="inc/header.html" />
  <div class="has-background-primary-light px-6 pb-5 divide navi">
    <include path="inc/search-bar.html" />
  </div>
  <div class="notification is-warning is-small clean" ny-if="package.deleted_at">This package or version is archived.</div>
  
  <section class="py-6">
    <div class="container">
      <div class="columns">
        <div class="column is-two-third pr-6">
          <div class="content" ny-if="package">
            <div class="title mb-2">{package.name}</div>
            <div>
              <div class="tags">
                <span class="tag has-text-weight-bold">{package.version}</span> 
                <a class="tag has-text-weight-bold" href="/search?q={package.publisher}">@{package.publisher}</a>
                <span class="tag has-text-weight-bold">{package.created_at}</span>
              </div>
            </div>
            <div class="tabs main-tab">
              <ul class="ml-0 pl-0">
                <li class="is-active" tab-id="readme"><a>ReadMe</a></li>
                <li tab-id="dependencies"><a>Dependencies</a></li>
                <li tab-id="versions" ny-not="version"><a>Versions</a></li>
              </ul>
            </div>
            <div id="readme-content">{package.readme|draw}</div>
            <div ny-not="version" id="versions-content" class="is-hidden">
              <ul ny-if="package.versions">
                <li ny-for="package.versions" ny-key="name" ny-value="ver">
                  <a href="/view/{package.name}@{ver.version}">{package.name} - {ver.version}</a>
                </li>
              </ul>
              <ul ny-not="package.versions">
                <li>
                  <a href="/view/{package.name}@{package.version}">{package.name} - {package.version}</a>
                </li>
              </ul>
            </div>
            <div id="dependencies-content" class="is-hidden">
              <ul ny-if="package.deps">
                <li ny-for="package.deps" ny-key="name" ny-value="version">
                  <a href="/view/{name}@{version}">{name} - {version}</a>
                </li>
              </ul>
              <em ny-not="package.deps">Package has no dependencies.</em>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="content">
            <div class="title is-4">Install</div>
            <pre class="has-icon">
              <span class="code" id="install-command" ny-not="version">nyssa install {package.name}</span>
              <span class="code" id="install-command" ny-if="version">nyssa install {package.name}@{package.version}</span>
              <span data-tip="Copied!" class="icon" id="copy-command">
                <i class="far fa-copy"></i>
              </span>
            </pre>
            <div class="title is-4 mt-6">Details</div>
            <div ny-if="package.description">{package.description|strip_line}</div>
            <div ny-not="package.description"><em>No Description.</em></div>
            <div class="tags mt-4" ny-if="package.tags">
              <a href="/search?q={tag}" class="tag is-light" ny-for="package.tags" ny-key="tag">{tag}</a>
            </div>
            <div class="title is-5 mb-2 mt-5" ny-if="package.homepage">Homepage</div>
            <div ny-if="package.homepage">
              <a target="_blank" href="{package.homepage}">{package.homepage}</a>
            </div>
            <div class="mt-4"><strong>License:</strong> <span>{package.license}</span></div>
            <div class="mt-4"><strong>Downloads:</strong> <span>{package.downloads}</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <include path="inc/footer.html" />

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var tabLinks = document.querySelectorAll('.main-tab li')
      tabLinks.forEach(function(link) {
        link.addEventListener('click', function() {
          var tab = document.getElementById(link.getAttribute('tab-id') + '-content')

          // clear state
          tabLinks.forEach(function(tl) {
            tl.classList.remove('is-active')
            document.getElementById(tl.getAttribute('tab-id') + '-content').classList.add('is-hidden')
          })

          // set current state
          link.classList.add('is-active')
          tab.classList.remove('is-hidden')
        })
      })

      var installCommand = document.getElementById('install-command').innerText

      function notifyCopied() {
        var el = document.getElementById('copy-command')
        el.classList.add('open')
        setTimeout(function() {
          el.classList.remove('open')
        }, 1500)
      }

      function copyInstallCommand() {
        if(navigator.clipboard) {
          navigator.clipboard.writeText(installCommand)
          notifyCopied()
        } else {
          var textArea = document.createElement("textarea")
          textArea.value = installCommand
          textArea.style.opacity = 0
          document.body.appendChild(textArea)
          textArea.focus()
          textArea.select()

          try {
            var successful = document.execCommand('copy')
            if(successful) {
              notifyCopied()
            }
          } catch (err) {
          }

          document.body.removeChild(textArea);
        }
      }

      document.getElementById('copy-command').addEventListener('click', copyInstallCommand)
    })
  </script>
</body>
</html>